

* {
  box-sizing: border-box;
}

 
body {
  /*background-image:url("images/nurse.jpg");*/
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
} 

.container {
  position: absolute;
  right: 350px;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color:bisque;
}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  }
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 8px 15px;
  border: none;
  width: 100%;
  opacity: 0.9;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}
/*.btn:hover {
  opacity: 1;
}*/